.post-overall {
    margin-bottom: 1.0em;
    max-width: 90%;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #d6e4f3;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: #777;
    font-size: 0.8em;
    font-weight: lighter;
}

.post-content {
    padding: 10px;
}

.post-actions {
    display: flex;
    justify-content: start;
    padding: 10px;
    border-top: 1px solid #eee;
    background-color: rgb(246, 246, 246);

}

.post-actions span {
    margin-right: 15px;
    cursor: pointer;
    color: #0056b3;
    font-weight: 500;
}

.post-actions span:hover {
    text-decoration: underline;
}