@keyframes gradientBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-background {
    background: linear-gradient(270deg, #f0f2f5, #a1c4fd, #c2e9fb);
    background-size: 600% 600%;
    animation: gradientBackground 10s ease infinite;
    min-height: 100vh;
    animation-fill-mode: both;
  }

  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling at the root level */
  }
  